
.login, .logout {
    float: right;
    margin-right: 25px;
}

.nav-wrapper {
    max-width: 1500px;
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 323px;
    width: 100%;
    box-shadow: 0 4px 2px -2px gray;
}

.top-bar {
    height: 32px;
    background-color: #CACAC8;

}

body {
    background-color: #B6B6B4;
}

.container {
    background-color: #F2F2F0;
    box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px gray, -12px 0 15px -4px gray;
}

.footer {
    background-color: #525250;
    width: 100%;
    height: 110px;
}

.home-content{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
    margin-bottom: 60px;
}

.main-nav {
    margin-top: 7px;
}

.text-content-left {
    margin-right: 4px;
}
.text-content-right {
    margin-left: 2px;
}
